html{
    background-color: beige;
}
p {
    color: black;
}

h1{
    color: black;
}

#index_title{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: beige;
 }

nav{
    text-align: center;
    background-color: lightblue;
    border: black solid 2px;
    padding: 5px;
}
header > nav{
    display: flex;
    justify-content: center;
    margin: 0.5em;
}
header li{
    float: left;
    padding: 0 1em;
}
ul{
    list-style: none;
    padding: 0px;
}