html{
    background-color: beige;
}
p {
    color: black;
}

h1{
    color: black;
}

#index_title{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: beige;
 }

nav{
    text-align: center;
    background-color: lightblue;
    border: black solid 2px;
    padding: 5px;
}
header > nav{
    display: flex;
    justify-content: center;
    margin: 0.5em;
}
header li{
    float: left;
    padding: 0 1em;
}
ul{
    list-style: none;
    padding: 0px;
}

div.course{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    column-gap: 1em;
    padding: 5px;
    grid-template-areas: 
    "name info"
    "time info";
}
.course-info{
    grid-area: info;
}

.course-time{
    grid-area: time;
}
.course-name{
    grid-area: name;
}

@media screen and (max-width: 600px){
    div.course{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 0fr 1fr;
        column-gap: 1em;
        padding: 5px;
        grid-template-areas: 
        "name"
        "time"
        "info";
    }
    header li{
        clear: both;
        padding: 1px 1em;
    }

}